.cartBtn-border-right {
    border-top-right-radius: var(--radius-md); /* 0.125rem (2px) */
    border-bottom-right-radius: var(--radius-md); /* 0.125rem (2px) */
}

.cartBtn-border-left {
    border-top-left-radius: var(--radius-md); /* 0.125rem (2px) */
    border-bottom-left-radius: var(--radius-md); /* 0.125rem (2px) */
}